<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title_head %}Administration{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    {% stylesheets output='compiled/backend/style.min.css' filter='cssrewrite'
        'bundles/pfeweb/backend/css/style.default.css'
        'bundles/pfeweb/backend/css/jquery.gritter.css'
        'bundles/pfeweb/backend/css/bootstrap-wysihtml5.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

    <link rel="shortcut icon" href="images/favicon.png" type="image/png">
</head>
<body>
<!-- Preloader -->
<div id="preloader">
    <div id="status"><i class="fa fa-spinner fa-spin"></i></div>
</div>

<section>

    {% include 'PfeWebBundle:Backend/Include:sidebar.html.twig' %}

    <div class="mainpanel">

        {% include 'PfeWebBundle:Backend/Include:header.html.twig' %}

        <div class="pageheader">
            <h2>{% block title_page %}<i class="fa fa-dashboard"></i>Tableau de board <span>Subtitle goes here...</span>{% endblock %}</h2>
        </div>

        <div class="contentpanel">
            {% block content %}
            {% endblock %}
        </div>
    </div><!-- mainpanel -->
</section>

    {% javascripts output='compiled/backend/script.min.js'
        'bundles/pfeweb/backend/js/jquery-1.10.2.min.js'
        'bundles/pfeweb/backend/js/jquery-migrate-1.2.1.min.js'
        'bundles/pfeweb/backend/js/bootstrap.min.js'
        'bundles/pfeweb/backend/js/modernizr.min.js'
        'bundles/pfeweb/backend/js/jquery.sparkline.min.js'
        'bundles/pfeweb/backend/js/toggles.min.js'
        'bundles/pfeweb/backend/js/retina.min.js'
        'bundles/pfeweb/backend/js/jquery.cookies.js'
        'bundles/pfeweb/backend/js/custom.js'
        'bundles/pfeweb/backend/js/jquery.gritter.min.js'
        'bundles/pfeweb/backend/js/wysihtml5-0.3.0.min.js'
        'bundles/pfeweb/backend/js/bootstrap-wysihtml5.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script>
        jQuery(document).ready(function() {

            jQuery('.wysiwyg').wysihtml5({color: true,html:true});

            {% for flash in app.session.flashbag.get('success') %}
            jQuery.gritter.add({
                title: 'Success',
                text: '{{ flash }}',
                class_name: 'growl-success',
                sticky: false
            });
            {% endfor %}
            {% for flash in app.session.flashbag.get('error') %}
            jQuery.gritter.add({
                title: 'Error',
                text: '{{ flash }}',
                class_name: 'growl-danger',
                sticky: false
            });
            {% endfor %}
        });
    </script>
</body>
</html>
