{% extends 'PfeWebBundle:Frontend:layout.html.twig' %}

{% block title_page %}
    {{ page.title }}
{% endblock %}
{% block content %}
    {{ page.content|raw }}
    <form>
        <input type="text">
        <textarea></textarea>
        <input type="submit">
    </form>
{% endblock %}