{% extends 'PfeWebBundle:Frontend:layout.html.twig' %}

{% block content %}
    <p>contact</p>
    {{ entity.content|raw }}

    <form>
        <input type="text">
        <textarea></textarea>
        <input type="submit">
    </form>
{% endblock %}