<ul class="nav navbar-nav">
    {% for link in links  %}
        <li class=><a href="{{ path('pfe_web_frontend_page', {'slug': link.slug }) }}">{{ link.title }}</a></li>{{ link.template }}
    {% endfor %}
</ul>