{% extends 'PfeWebBundle:Frontend:layout.html.twig' %}

{% block content %}
    {{ form_start(booking_form) }}
        <button type="submit">Reserver</button>
    {{ form_end(booking_form) }}
{% endblock %}